/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
}

/* Light Theme */
.light {
  --background-color: #ffffff;
  --text-color: #333333;
}

/* Dark Theme */
.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}

/* Container */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Heading */
.info h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Toggle Button */
.theme-toggle-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.1s ease, color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #555;
  color: #fff;
}
